.header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 20vw;
}

.header {
	font-size: 4rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.header-subtext {
	font-size: 1.5rem;
	font-weight: 400;
}
